  
$family-sans-serif: 'Comfortaa', sans-serif;
$family-monospace: 'Comfortaa', sans-serif;
$primary: #00b700;
$body-size: 14px;
$box-radius: $radius-small;
$card-radius: $radius-small;
$grey: #6F6F6F