
  .sidebar {
    //justify-content: space-between;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    color: $white;
    padding: 0;
    min-width: 6rem;
  
    &.is-fullheight {
      min-height: 100vh;
    }

    .menu {
        display: flex;
        flex-direction: column;
    //flex: 1 0 auto;
        flex-grow: 1;
    }

    .menu-item {
      padding: 1rem 0;
      position: relative;
    }
  }