$sio-green: #00b700;
$theme-colors: (
  "primary": $sio-green
);

$enable-rounded: true;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import './nav';
@import './common';
